<!DOCTYPE html>
<html lang="en" ng-app="demo" ng-strict-di>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        padding: 15px;
      }
    </style>
  </head>
  <body ng-controller="DemoCtrl as vm">
    <p>Selected person: {{ vm.selectedPerson }}</p>
    <p>Selected track: {{ vm.selectedTrack }}</p>

    <form class="form-horizontal">
      <fieldset>
        <legend>sc-select demo</legend>

        <div class="form-group">
          <label class="col-sm-3 control-label">Single</label>

          <div class="col-sm-6">

            <sc-select
              ng-model="vm.selectedPerson"
              sc-options="person.email as person.name for person in vm.people"
              placeholder="Select or search a person in the list...">
            </sc-select>

          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Single async</label>

          <div class="col-sm-6">

            <sc-select
              ng-model="vm.selectedTrack"
              sc-options="artist as artist.name for artist in vm.searchAsync(searchText, page)"
              page-limit="vm.asyncPageLimit"
              total-items="vm.totalResults"
              placeholder="Search for a song"
              loading-delay="200">
            </sc-select>

          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Multiple</label>

          <div class="col-sm-6">

            <sc-select
              ng-model="vm.selectedPerson"
              sc-options="person.email as person.name for person in vm.people"
              multiple="true"
              placeholder="Select or search a person in the list...">
            </sc-select>

          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Multiple async</label>

          <div class="col-sm-6">

            <sc-select
              ng-model="vm.selectedTrack"
              sc-options="artist as artist.name for artist in vm.searchAsync(searchText, page)"
              page-limit="vm.asyncPageLimit"
              total-items="vm.totalResults"
              placeholder="Search for a song"
              multiple="true">
            </sc-select>

          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Grouped</label>

          <div class="col-sm-6">

            <sc-select
              ng-model="vm.selectedPerson"
              sc-options="person.email as person.name for person in vm.people"
              placeholder="Select or search a person in the list..."
              group-by="vm.groupBy">
            </sc-select>

          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Disabled</label>

          <div class="col-sm-6">

            <sc-select
              ng-model="vm.selectedPerson"
              sc-options="person.email as person.name for person in vm.people"
              placeholder="Select or search a person in the list..."
              ng-disabled="true">
            </sc-select>

          </div>
        </div>

      </fieldset>
    </form>
    <script src="bundle.js"></script>
  </body>
</html>
